@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

h1{
    text-align: center;
    padding-top: 200px;
    font-size: 45px;
}

.startJourney{
    text-align: center;
}

#startJourneyButton{
    font-size: 20px; 
    padding: 20px 70px 20px 70px;
    background-color: rgba(109, 82, 105, .40);
    border-radius: 25px;
    border: #5A5373 1px;
    margin: 20px;
    font-size: 30px;
}